app/config/database.php
initial_configuration.txt

# Temporal files (To be deleted)
*.old

# Git files
*.md

# Log files
*.log

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
/vendor/