.sidebar-image {
  max-width: 35px !important;
}

.sidebar-brand-fix {
  padding: unset !important;
}

.brand-text-fix {
  margin-left: 0.2rem !important;
}

.hidden {
  display: none;
}

.max-w {
  max-width: 1900px;
}

.form-control.is-invalid {
  border-color: var(--bs-danger);
}