:root {
  --lte-sidebar-width: 280px;
  --lte-bar-height: 3.5rem;
}

.field {
  font-weight: 700;
}

.app-header {
  height: var(--lte-bar-height) !important;
}

.sidebar-image {
  width: 100% !important;
  max-height: 50px !important;
}

.sidebar-brand {
  height: var(--lte-bar-height) !important;
  padding: unset !important;
}

.brand-text {
  font-weight: 700 !important;
  margin-left: 0.2rem !important;
}

.form-control.is-invalid {
  border-color: var(--bs-danger) !important;
}

input.disabled:hover {
  cursor: not-allowed;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.main-content {
  max-width: 1500px;
  margin: 0 auto;
}

.card-footer::after {
  content: unset;
}

.btn-size {
  width: fit-content;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.hidden {
  display: none;
}

.upper {
  text-transform: uppercase;
}