table.dataTable thead th {
    white-space: nowrap;
}

table.dataTable.dt-has-data .dt-col-small {
    min-width: 70px;
    white-space: nowrap;
}

table.dataTable.dt-has-data .dt-col-medium {
    min-width: 250px;
    max-width: 250px;
    white-space: normal;
    overflow-wrap: break-word;
}

table.dataTable.dt-has-data .dt-col-large {
    min-width: 380px;
    max-width: 380px;
    white-space: normal;
    overflow-wrap: break-word;
}

table.dataTable.dt-has-data .dt-col-date {
    width: 100px;
    white-space: nowrap;
}

table.dataTable.dt-has-data .dt-col-actions {
    min-width: 95px;
    width: 95px;
    white-space: nowrap;
}

[data-bs-theme="dark"]
.dtfc-top-blocker {
    background-color: var(--bs-body-bg) !important;
}

[data-bs-theme="dark"]
.dtfc-bottom-blocker {
    background-color: var(--bs-body-bg) !important;
}