[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-border-color) !important;
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection__rendered {
  color: var(--bs-body-color) !important;
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection__placeholder {
  color: var(--bs-secondary-color) !important;
}

[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-border-color) !important;
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-results__option {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-results__option--highlighted {
  color: var(--bs-primary-text-emphasis) !important;
  background-color: var(--bs-primary-bg-subtle) !important;
}

[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-search__field {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-border-color) !important;
}

[data-bs-theme="dark"] .select2-results__option--highlighted {
  color: var(--bs-body-bg) !important;
  background-color: var(--bs-border-color) !important;
}

select.is-invalid + .select2-container--bootstrap-5 .select2-selection {
  border-color: var(--bs-danger) !important;
}

.select2-container {
  width: 100% !important;
  max-width: 100%;
}

.select2-container--bootstrap-5
  .select2-selection--multiple
  .select2-selection__choice {
  font-size: 0.75rem !important;
  line-height: 1.2 !important;
  padding: 0.125rem 0.35rem !important;
  margin: 0.125rem 0.25rem 0.125rem 0 !important;
}

.select2-container--bootstrap-5
  .select2-selection--multiple
  .select2-selection__choice__remove {
  font-size: 0.85rem !important;
  padding: 0 0.2rem 0 0 !important;
  margin-right: 0.2rem !important;
}